<main>
    <h1>Home</h1>

{{#each books}}
<div class="books">
    <h3>Titulo: {{this.name}}</h3>
    <p>Quatidade de páginas: {{this.pageqty}}</p>
   
   <div class="button">
        <a href="/book/{{this.id}}" class="mais">Ver mais</a>
        <a href="/edit/{{this.id}}" class="mais">Editar</a>
        <form action="/delete/{{this.id}}" method="post">
            <input type="hidden" name="id" value="{{this.id}}">
            <button class="excluir">Excluir</button>
        </form>
    </div>
</div>
{{/each}}
</main>